.garage-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), asset_url("homepage.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  h1 {
    color: white;
    text-align: center;
    padding: 20px;
  }
  h3 {
    text-align: center;
    color: white;
    padding: 10px;
  }
}
.retour-garage {
  display: flex;
  justify-content: center;
}
