<div class="home_container">
  <h1>Costauto</h1>
  <h3>Calculez combien votre véhicule vous coûtes réellement </h3>

  <div class="home_buttons">
      <%= link_to garages_path do %>
        <div class="card-home">
          <i class="fa-solid fa-warehouse"></i>
          <p>Mes garages</p>
        </div>
      <% end %>

    <div class="button_two">
      <%= link_to new_invoice_path do %>
        <div class="card-home">
          <i class="fa-solid fa-receipt"></i>
          <p>Ajouter une dépense</p>
        </div>
      <% end %>
    </div>

    <%= link_to new_contract_path do %>
      <div class="card-home">
        <i class="fa-solid fa-file-signature"></i>
        <p>Ajouter un contrat</p>
      </div>
    <% end %>

    <%= link_to new_trip_path do %>
      <div class="card-home">
        <i class="fa-solid fa-map"></i>
        <p>Ajouter un nouveau trajet</p>
      </div>
    <% end %>
  </div>
</div>
